h2.sectionTitle { 
	font-weight: 100;
	font-size: 1.875em;
	line-height: 3em;
	margin: 0;	
	width: 100%;
	text-align: center;
	color: $gray;
}

h3 {
	font-weight: 900;
	font-size: 2.5em;
	//line-height: 3em;
	padding: 0 1em 0 0;
	margin: 0;
}

p { 
	font-weight: 300;
	font-size: 1.125em; 
	line-height: 24px;
}
p.more { 
	font-weight: 700;
	font-size: 1.25em;
	line-height: 24px;
	color: $link-color;
}
p.start { font-size: 1.875em; }
p.date {
	font-weight: 100;
	font-size: 0.875em;
	height: 14px;
	padding-left: 0.875em;
	border-left: 3px solid $orange;
}