// variables go here

// colors
$link-color: #5b9bbc;
$link-color-light: #9bcde6;

$dark-blue: #012030;
$about-blue: #034060;
$skillset-blue: #205e7e;

$orange: #f08b65;
$dark-orange: #924224;
$extra-dark-orange: #6b2c15;

$gray: #b2b2b2;