/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/* font weights */
/* Colors */
/* Breakpoints */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* Sets font-size to rem with a pixel fallback
* https://github.com/csswizardry/CSS-Guidelines#sizing-uis
*/
header,
nav,
section {
  display: block;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

img {
  border: 0;
}
