@import 'normalize';

@import 'variables';
@import 'mixins';

@import 'typography';

@import 'fontawesome';

body { margin: 0; 
	//font: 120%/1.4 'Roboto', sans-serif;
	font-family: 'Roboto', sans-serif;
	//font: 120%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

a { color: $link-color; text-decoration: none; }

.section { 
	padding: 4.375em 1em; 
	margin: 0 auto; 
	width: 100%; 
	clear: both;
}

.container {
	max-width: 75em;
	margin: 0 auto;
}

.articles { background-color: white; }
.about { background-color: #205e7e; color: white; }
.hobbies { background-color: #f08b65; color: white; }

.sectionBorder {
	border-bottom: 1px solid $gray;
	margin: 0 auto;
	width: 30rem;
	position: relative;
	color: $gray;
}

i.iconWrapper {
	position: absolute;
	margin: -16px -25px;
	padding: 0 10px;
	background-color: white;
}

.grid { padding-top: 3em; padding-bottom: 1em; position: relative; }
.col { 
	max-width: 22.5em; 
	float: left;
	margin-left: 3.75em;

	&:first-child { margin-left: 0; }
}

