@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/Jzo62I39jc0gQRrbndN6nfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/RxZJdnzeo3R5zSexge8UUaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/mnpfi9pxYH-Go5UiibESIqCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/b9QBgL0iMZfDSpmcXcE8nL3QFSXBldIn45k5A7iXhnc.ttf) format('truetype');
}

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

strong {
  font-weight: bold;
}

img {
  border: 0;
}

figure {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

input {
  line-height: normal;
}

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

.project-title {
  text-align: center;
}

.section-title {
  font-weight: 100;
  font-size: 30px;
  font-size: 1.875rem;
  margin: 0;
  width: 100%;
  text-align: center;
  color: #b2b2b2;
  margin-top: .9em;
}

.title {
  font-weight: 400;
}

h3 {
  font-weight: 900;
  font-size: 32px;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  -webkit-transition: font-size 0.3s ease-out;
  transition: font-size 0.3s ease-out;
}

h3 a {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 48em) {
  h3 {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 3em;
  padding: 0;
  margin: 0;
}

input,
textarea {
  font-weight: 100;
  line-height: 48px;
  font-size: 16px;
  font-size: 1rem;
}

@media only screen and (min-width: 33.125em) {
  input,
  textarea {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 48em) {
  input,
  textarea {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

input[type='submit'] {
  font-weight: 500;
}

p {
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
}

@media screen and (min-width: 48em) {
  p {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.pill p {
  font-weight: 700;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  float: left;
}

.more {
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  color: #5b9bbc;
}

@media screen and (min-width: 48em) {
  .more {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.start {
  font-family: "Roboto Condensed",sans-serif;
  font-weight: 300;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0px 2px 2px rgba(255,255,255,0.4);
  color: white;
  text-align: center;
  margin: 0;
}

.date {
  font-size: 14px;
  font-size: 0.875rem;
  max-height: 14px;
  padding-left: 0.875em;
  border-left: 3px solid #f08b65;
  display: table-cell;
  vertical-align: middle;
  line-height: 14px;
}

.view-all {
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.25em;
  text-transform: uppercase;
  color: white;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.about-copy {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 26px;
}

@media only screen and (min-width: 48em) {
  .about-copy {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.freelance-copy {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 100;
  font-style: italic;
  line-height: 32px;
  text-align: center;
  margin: 0;
}

@media only screen and (min-width: 40em) {
  .freelance-copy {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

.hobby-content h4 {
  line-height: 2em;
}

@media only screen and (min-width: 40em) {
  .hobby-content h4 {
    line-height: inherit;
  }
}

.technologies {
  font-weight: 400;
}

.url {
  font-weight: 700;
}

.endorsement p {
  margin-top: 4px;
}

.reference {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
}

.footer-copy {
  font-size: 12px;
  font-size: 0.75rem;
  padding: 0 1em;
}

/*!
 *  Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.1.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"),url("../fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"),url("../fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"),url("../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-2x {
  font-size: 2em;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-check:before {
  content: "\f00c";
}

.fa-pencil:before {
  content: "\f040";
}

.fa-comments:before {
  content: "\f086";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-github:before {
  content: "\f09b";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-bolt:before {
  content: "\f0e7";
}

.fa-gamepad:before {
  content: "\f11b";
}

.fa-code:before {
  content: "\f121";
}

.fa-long-arrow-left:before {
  content: "\f177";
}

.fa-long-arrow-right:before {
  content: "\f178";
}

.fa-codepen:before {
  content: "\f1cb";
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background: #f08b65;
  color: white;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}

::selection {
  background: #f08b65;
  color: white;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}

body {
  font-family: "Roboto",sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #5b9bbc;
  text-decoration: none;
}

a.alternate {
  color: inherit;
}

a.light-link {
  color: #9bcde6;
}

a:hover,
a:focus {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

form {
  max-width: 59em;
  margin: 0 auto;
}

fieldset>input,
fieldset>textarea {
  border-radius: 5px;
  padding: 0 1em;
  margin-bottom: 1em;
  background-color: #ad715b;
  color: white;
  border: none;
}

label {
  display: none;
}

::-moz-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

input[type='text'],
input[type='email'] {
  height: 50px;
  float: none;
  width: 100%;
}

@media only screen and (min-width: 26.25em) {
  input[type='text'],
  input[type='email'] {
    width: 48.6666666666667%;
  }
}

input[type='submit'] {
  width: 100%;
  height: 50px;
  background-color: #5b9bbc;
  margin-bottom: 0;
  font-size: 24px;
  font-size: 1.5rem;
}

@media only screen and (min-width: 26.25em) {
  input[type='submit'] {
    width: 130px;
  }
}

input[type='submit']:disabled {
  background-color: rgba(0,0,0,0.5);
}

textarea {
  width: 100%;
  height: 200px;
  resize: vertical;
}

i.icon-wrapper {
  position: absolute;
  margin: -16px;
  padding: 0 10px;
  left: 48%;
  background-color: white;
}

#errorContainer {
  display: none;
}

figcaption {
  color: #6F737E;
  font-size: 0.9em;
  margin-top: 0.3em;
  text-align: center;
}

.center {
  text-align: center;
}

.grid:before,
.grid:after,
.section {
  clear: both;
}

.medium {
  font-weight: 500;
}

.orange {
  color: #f08b65;
}

.link-color {
  color: #5b9bbc;
}

.white {
  color: white;
}

.hidden {
  display: none;
}

.view-all-circle {
  margin: 0 auto;
  width: 75px;
  height: 75px;
  background-color: #5b9bbc;
  border-radius: 40px;
  display: table;
}

.fullname {
  margin-right: 1.3333333333333%;
}

.email {
  float: right;
}

.required {
  color: #ed1b24;
}

.copyright {
  float: none;
  text-align: center;
}

@media only screen and (min-width: 40em) {
  .copyright {
    float: left;
  }
}

.figure {
  clear: both;
  text-align: center;
  margin: 2em 0;
}

.figure img {
  margin: 0 auto;
}

.grid {
  padding-bottom: 3em;
  position: relative;
}

.grid:before,
.grid:after {
  content: "";
  display: table;
}

.column-article {
  float: left;
  margin-bottom: 2em;
}

@media screen and (min-width: 40em) {
  .column-article:nth-child(n) {
    width: 47.777777777778%;
    margin-right: 4.444444444444%;
  }

  .column-article:nth-child(2n+1) {
    clear: left;
  }

  .column-article:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 75em) {
  .column-article:nth-child(n) {
    width: 30%;
    margin-right: 5%;
  }

  .column-article:nth-child(2n+1) {
    clear: none;
  }

  .column-article:nth-child(3n+1) {
    clear: left;
  }

  .column-article:nth-child(3n) {
    margin-right: 0;
  }

  .column-article:nth-child(4n) {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (min-width: 40em) {
  .column-about {
    float: left;
  }

  .column-about:nth-child(n) {
    width: 45%;
    margin-right: 5%;
  }

  .column-about:nth-child(2n) {
    margin-right: 0;
    float: right;
  }
}

.pill {
  background-color: #034060;
  border-radius: 5px;
  color: white;
  margin-bottom: 0.04166666666667%;
  padding: 10px 20px 10px 10px;
  display: inline-block;
  width: 100%;
}

.pill:first-child {
  background-color: #012030;
}

@media only screen and (min-width: 26.25em) {
  .pill {
    width: 49.1379310344828%;
  }

  .pill:nth-child(n) {
    margin-right: 0.08620689655172%;
  }

  .pill:nth-child(2n) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 36.25em) {
  .pill {
    width: 32.7651515151515%;
  }

  .pill:nth-child(n),
  .pill:nth-child(2n) {
    margin-right: 0.04166666666667%;
  }

  .pill:nth-child(3n),
  .pill:nth-child(20) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 55em) {
  .pill {
    width: 21.3333333333333%;
  }

  .pill:nth-child(3n) {
    margin-right: 0.04166666666667%;
  }

  .pill:nth-child(4n) {
    margin-right: 0;
  }
}

.column-hobby {
  margin-bottom: 3em;
}

@media only screen and (min-width: 33.125em) {
  .column-hobby {
    float: left;
  }
}

@media screen and (min-width: 48em) {
  .column-hobby {
    margin-bottom: 0;
  }

  .column-hobby:nth-child(n) {
    width: 30.7291666666667%;
    margin-right: 2.6041666666667%;
  }

  .column-hobby:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 75em) {
  .column-hobby:nth-child(n) {
    width: 31.6666666666667%;
    margin-right: 1.6666666666667%;
  }

  .column-hobby:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.project {
  padding-bottom: 3.75em;
}

@media screen and (min-width: 48em) {
  .project h3 {
    font-size: 26px;
    font-size: 1.625rem;
    min-height: 82px;
  }
}

@media screen and (min-width: 51.25em) {
  .project h3 {
    font-size: 40px;
    font-size: 2.5rem;
    min-height: 126px;
  }
}

@media screen and (min-width: 75.3125em) {
  .project h3 {
    min-height: inherit;
  }
}

@media only screen and (min-width: 48em) {
  .project {
    float: left;
    width: 47.5%;
    margin-right: 5%;
  }

  .project:nth-child(2n) {
    margin-right: 0;
  }
}

.quote {
  position: relative;
  margin-bottom: 3em;
}

.quote:nth-child(4n) {
  margin-bottom: 0;
}

@media only screen and (min-width: 40em) {
  .quote {
    float: left;
    margin-bottom: 0;
    width: 47.25%;
    padding-bottom: 2em;
  }

  .quote:nth-child(n) {
    margin-right: 5%;
  }

  .quote:nth-child(2n) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 62.5em) {
  .quote {
    width: 21.25%;
    padding-bottom: 0;
  }

  .quote:nth-child(2n) {
    margin-right: 5%;
  }

  .quote:nth-child(4n) {
    margin-right: 0;
  }
}

.section {
  padding: 4.375em 0;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.section-border {
  border-bottom: 1px solid #b2b2b2;
  position: relative;
  color: #b2b2b2;
  margin: 1.5em 0 5em 0;
}

@media screen and (min-width: 20em) {
  .section-border {
    margin: 1.5em 10% 5em 10%;
  }
}

@media screen and (min-width: 31.25em) {
  .section-border {
    max-width: 30rem;
    margin: 1.5em auto 5em auto;
  }
}

.container {
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1em;
}

@media only screen and (min-width: 77.5em) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.intro {
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #034060));
  background: -webkit-linear-gradient(top, #000 0%, #034060 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#034060));
  background: linear-gradient(to bottom, #000 0%, #034060 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#034060',GradientType=0 );
  padding: 1em;
  margin: 0;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo-holder {
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  min-height: 260px;
}

@media only screen and (min-width: 33.125em) {
  .logo-holder {
    padding-left: 0;
    padding-right: 0;
  }
}

.logo {
  padding-bottom: 22px;
}

.ship-and-lasers {
  background: url("../images/ship_with_lasers.png") no-repeat bottom center transparent;
  min-height: 160px;
}

.start {
  padding-top: 35px;
}

.startBtn {
  display: block;
  cursor: pointer;
}

.articles {
  background-color: white;
}

.date-container {
  display: table;
  padding-top: 1em;
}

.about {
  background: url("../images/mountains.png") no-repeat center bottom #034060;
  color: white;
}

.about .section-title {
  color: white;
}

.about i.icon-wrapper {
  background-color: #034060;
  color: white;
}

.about .container {
  position: relative;
  z-index: 2;
  background: url("../images/pilot_landing.png") no-repeat 90% 99.7%;
  padding-bottom: 15em;
  margin-bottom: -56px;
}

.about .section-border {
  border-color: white;
}

.ground-blue {
  height: 90px;
  background-color: #195777;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
}

.skillset {
  background: url("../images/skillset-background.png") repeat-x bottom #205e7e;
}

.freelance {
  background-color: #012030;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  z-index: 2;
}

.skill-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.bolt-holder,
.check-holder {
  width: 30px;
  height: 30px;
  display: table;
  margin-right: 20px;
  float: left;
}

.bolt-holder {
  background-color: #034060;
  border-radius: 75%;
}

.check-holder {
  background-color: #012030;
  border-radius: 5px;
}

.bolt,
.check {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.bolt {
  color: white;
}

.check {
  color: #f08b65;
}

.hobbies {
  background: url("../images/hobbies-background.png") repeat-x top #f08b65;
  color: #924224;
}

.hobbies h2 {
  line-height: 1;
  padding-bottom: 2em;
}

.hobbies p {
  margin: 0;
}

.hobby-icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

@media only screen and (min-width: 33.125em) {
  .hobby-icon {
    float: left;
  }
}

@media only screen and (min-width: 48em) {
  .hobby-icon {
    float: none;
  }
}

@media only screen and (min-width: 75em) {
  .hobby-icon {
    float: left;
  }
}

.hobby-content a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

@media only screen and (min-width: 33.125em) {
  .hobby-content {
    float: left;
    width: 79%;
  }
}

@media only screen and (min-width: 48em) {
  .hobby-content {
    text-align: center;
    width: auto;
  }
}

@media only screen and (min-width: 75em) {
  .hobby-content {
    text-align: left;
    width: auto;
    float: none;
  }
}

.hobby-logo {
  background: transparent;
}

.screenshot {
  text-align: center;
}

.contact {
  background: #924224;
  padding: 0;
}

.contact:after {
  content: ' ';
  background: url("../images/bottom_contact.gif");
  background-color: #924224;
  background-position: bottom;
  width: 100%;
  height: 330px;
  margin-top: -330px;
  top: 0;
  z-index: 1;
  display: block;
  position: relative;
}

.contact .container {
  background: url("../images/pilot_rope.png") no-repeat transparent;
  min-height: 650px;
  margin-top: -9.5em;
  position: relative;
  z-index: 2;
}

.contact .section-title {
  padding-top: 3em;
  padding-bottom: 0;
  margin-bottom: 0;
  color: white;
  padding-bottom: .5em;
}

@media only screen and (min-width: 26.25em) {
  .contact .section-title {
    padding-bottom: 2em;
  }
}

.contact-top {
  background: url("../images/spikes.png") repeat-x #924224 top;
  height: 245px;
  display: none;
}

@media only screen and (min-width: 26.25em) {
  .contact-top {
    display: block;
  }
}

.testimonials {
  background-color: #000;
  color: white;
  padding-top: 0;
}

.testimonials:after {
  content: ' ';
  background: url("../images/pilot_monster.png");
  background-repeat: no-repeat;
  background-color: #000;
  background-position: 88% 94%;
  width: 100%;
  height: 74px;
  margin-top: -74px;
  top: 0;
  z-index: 1;
  display: block;
  position: relative;
}

.testimonials .container {
  background: url("../images/bottom_crack.png") no-repeat;
  background-position: 73% top;
  padding-top: 5.475em;
  margin-top: -100px;
  position: relative;
  z-index: 2;
}

.testimonials .section-title {
  color: white;
}

.testimonials .section-border {
  border-color: white;
}

.testimonials i.icon-wrapper {
  background-color: black;
  color: white;
}

.testimonials-top {
  background: url("../images/bottom_red_to_black.png") repeat-x #000 top;
  height: 100px;
}

.left-quote {
  float: left;
  color: #6b2c15;
}

.endorsement {
  margin-left: 32px;
}

.social-links {
  float: none;
  text-align: center;
  padding: 0 1em 1em 1em;
}

.social-links a {
  display: inline-block;
  color: inherit;
  margin-left: 10px;
  -webkit-transition: color 0.4s linear;
  transition: color 0.4s linear;
}

.social-links a:first-child {
  margin-left: 0;
}

.social-links a:hover {
  color: #5b9bbc;
}

@media only screen and (min-width: 40em) {
  .social-links {
    float: right;
    padding: 0 1em;
    margin-top: .5em;
  }
}

.header {
  display: block;
  margin-left: -9999px;
  opacity: 0;
  position: fixed;
  top: 0;
  min-height: 50px;
  width: 100%;
  z-index: 100;
  background-color: #1c1c1c;
  -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

@media only screen and (min-width: 40em) {
  .header {
    height: 50px;
  }
}

.header a {
  color: white;
}

.header a:hover,
.header a:focus,
.header a:link {
  text-decoration: none;
}

.logo-header,
.logo-header-right {
  float: left;
  padding: 0;
  margin: 0;
  font-weight: 300;
  color: white;
  max-width: 200px;
  margin-left: 1em;
  margin-top: 1em;
}

.logo-header a {
  display: block;
}

.logo-header-right {
  float: left;
  margin-left: 1em;
}

@media only screen and (min-width: 26.25em) {
  .logo-header-right {
    float: right !important;
    margin-right: 1em;
    margin-left: 0;
  }
}

/*! responsive-nav.js 1.0.25 by @viljamis */

.nav-collapse ul,
.main-nav-left ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li,
.main-nav-left li {
  width: 100%;
  display: block;
}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: auto;
  }
}

.main-nav {
  display: inline-block;
  display: none;
  width: 100%;
}

@media only screen and (min-width: 40em) {
  .main-nav {
    float: right;
    width: auto;
    margin-right: 1em;
  }
}

.main-nav-left {
  float: left;
  width: 100%;
}

@media only screen and (min-width: 26.25em) {
  .main-nav-left {
    margin-left: 1em;
    width: auto;
  }
}

.nav>li {
  font-size: 1em;
  line-height: 50px;
  text-transform: lowercase;
}

.nav>li a:hover,
.nav>li:focus,
.nav>li:link {
  color: inherit;
  background-color: #924224 !important;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.nav>li:nth-child(1) {
  background: rgba(146,66,36,0.1);
}

.nav>li:nth-child(2) {
  background: rgba(146,66,36,0.2);
}

.nav>li:nth-child(3) {
  background: rgba(146,66,36,0.3);
}

.nav>li:nth-child(4) {
  background: rgba(146,66,36,0.4);
}

.nav>li:nth-child(5) {
  background: rgba(146,66,36,0.5);
}

@media only screen and (min-width: 40em) {
  .nav>li {
    margin-right: .2em;
    font-size: 0.875em;
    font-weight: inherit;
    line-height: inherit;
  }

  .nav>li:nth-child(5) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 48em) {
  .nav>li {
    font-size: 1em;
  }
}

.nav>li,
.nav>li>a {
  display: block;
  zoom: 1;
  color: white;
}

@media only screen and (min-width: 40em) {
  .nav>li,
  .nav>li>a {
    padding: 0;
    background: none !important;
    display: inline-block;
    *display: inline;
    line-height: 50px;
  }
}

.nav>li>a {
  padding: 0 1em;
}

@media only screen and (min-width: 40em) {
  .nav>li>a {
    padding: 0 .5em;
  }
}

footer {
  min-height: 40px;
  background-color: #1c1c1c;
  color: #757575;
  display: table;
  width: 100%;
}
