/*------------------------------------*\
    $TYPE
\*------------------------------------*/
.section-title { 
	font-weight: $thin;
	@include font-size(30);
	line-height: 3em;
	margin: 0;	
	width: 100%;
	text-align: center;
	color: $gray;
}

h3 {
	font-weight: $ultra-bold;
	@include font-size(32);
	padding: 0;
	margin: 0;

	-webkit-transition: font-size 0.3s ease-out;
	-moz-transition: font-size 0.3s ease-out;
	-ms-transition: font-size 0.3s ease-out;
	-o-transition: font-size 0.3s ease-out;
	transition: font-size 0.3s ease-out;

	@media screen and (min-width: $brkpt-medium) {
	    padding: 0 1em 0 0;
	}
	 
	@media screen and (min-width: $brkpt-large) {
	    @include font-size(40);
	}
	 
}

p { 
	font-weight: $light;
	@include font-size($base-font-size); 

	line-height: 24px;

	@media screen and (min-width: $brkpt-large) {
	    @include font-size(18);
	}
}
.more { 
	font-weight: $bold;
	@include font-size(18);
	line-height: 24px;
	color: $link-color;

	@media screen and (min-width: $brkpt-large) {
	    @include font-size(20);
	}
	 
}
.start { 
	font-family: $roboto-condensed;
	font-weight: 300;
	@include font-size(30); 
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
	color: white;
	text-align: center;
	margin: 0;
}

.date {
	font-weight: $thin;
	@include font-size(14);
	max-height: 14px;
	padding-left: 0.875em;
	border-left: 3px solid $orange;
	display: table-cell;
	vertical-align: middle;
	line-height: 14px;
}

.view-all { 
	font-weight: $normal;
	@include font-size(18);
	line-height: 1.25em;
	text-transform: uppercase;
	color: white;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.about-copy {
	@include font-size(16);
	font-weight: $light;
	line-height: 26px;

	@media only screen and (min-width: $brkpt-large) {
	    @include font-size (18);
	}
}

.freelance-copy { 
	@include font-size(18);
	font-weight: $thin;
	font-style: italic;
	line-height: 32px;
	text-align: center;
	margin: 0;

	@media only screen and (min-width: $brkpt-medium) {
		@include font-size(24);
	}
}