// variables go here

$base-font-size: 16;

// font weights
$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$ultra-bold: 900;

// colors
$link-color: #5b9bbc;
$link-color-light: #9bcde6;

$dark-blue: #012030;
$about-blue: #034060;
$blue-ground: #195777;
$skillset-blue: #205e7e;

$orange: #f08b65;
$dark-orange: #924224;
$extra-dark-orange: #6b2c15;

$gray: #b2b2b2;

// breakpoints
$brkpt-xtra-large: 75em; /* 1200px */
$brkpt-large: 48em; /* 768px */
$brkpt-medium: 40em /* 640px */