/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
$base-font-size: 16;
$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;

/* font weights */
$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$ultra-bold: 900;

/* Colors */
$link-color: #5b9bbc;
$link-color-light: #9bcde6;

$dark-blue: #012030;
$about-blue: #034060;
$blue-ground: #195777;
$skillset-blue: #205e7e;

$orange: #f08b65;
$light-orange: #ad715b;
$dark-orange: #924224;

$nav-one: rgba(146, 66, 36, 0.1);
$nav-two: rgba(146, 66, 36, 0.2);
$nav-three: rgba(146, 66, 36, 0.3);
$nav-four: rgba(146, 66, 36, 0.4);
$nav-five: rgba(146, 66, 36, 0.5);

$dark-red: #6b2c15;

$gray: #b2b2b2;
$light-gray: #757575;
$dark-gray: #1c1c1c;

/* Breakpoints */
$brkpt-xtra-large: 75em; // 1200px
$brkpt-1000: 62.5em; // 1000px
$brkpt-880: 55em; // 840px
$brkpt-large: 48em; // 768px
$brkpt-medium: 40em; // 640px
$brkpt-580: 36.25em; // 580px
$brkpt-small: 33.125em; // 530px
$brkpt-420: 26.25em; // 420px