/*------------------------------------*\
    $RECENT WORK GRID
\*------------------------------------*/

/**
 * Recent Work Columns
 * Example:
	<div class="grid">

		<div class="project">
  		<h3>Business Retirement Solutions</h3>
  		<p>url: <a href="//countryretirementplans.com" target="_blank">countryretirementplans.com</a></p>
			<p>type: website, responsive</p>
			<p>technologies: html, css, sass, php, javascript, wordpress, modernizr, jquery, polyfills</p>

			<p>description: Lead developer on COUNTRY's first responsive web design project. I worked with designers and usability folks to develop a responsive website tailored to educating potential clients on the retirement services that COUNTRY Financial has to offer. This website was built with WordPress and responsive design methodologies.</p>

			<p>see link for a detailed use case of the project</p>
		</div>
	</div>
*/
.project {

	padding-bottom: 3.75em;

	h3 {
		@media screen and (min-width: $brkpt-large) {
		    @include font-size(26);
		    margin-bottom: 1em;
		}

		@media screen and (min-width: $brkpt-820) {
		    @include font-size(40);
		}

		@media screen and (min-width: $brkpt-1205) {
			min-height: inherit;
		}


	}

	@media only screen and (min-width: $brkpt-large) {
		float: left;
	  width: 47.5%;
		margin-right: 5%;

		&:nth-child(2n) {
			margin-right: 0;
		}
	}
}