/*------------------------------------*\
    $TESTIMONIAL GRID
\*------------------------------------*/

/**
 * Testimonial Columns
 * Example:
	<div class="grid">

		<div class="quote">
			<div class="left-quote"><img src="images/quote.png" align="left" width="22" height="22" /></div>
			<div class="endorsement">
				<p>Ryan is fantastic web developer. I have enjoyed working with him. He always meets impossible deadlines. He is my go to guy for mobile development questions. Glad to have him as a colleague.</p>
				<p class="reference">Matt Christensen <span class="orange">| Web/Facebook Developer</span></p>
			</div>
		</div>
	</div>
*/
.quote {

	position: relative;

	margin-bottom: 3em;

	&:nth-child(4n) {
  	margin-bottom: 0;
  }

	@media only screen and (min-width: $brkpt-medium) {
	    float: left;

	    margin-bottom: 0;

	    width: 47.25%;
	    padding-bottom: 2em;

	    &:nth-child(n) {
	    	margin-right: 5%;
	    }

	    &:nth-child(2n) {
	    	margin-right: 0;
	    }
	}

	@media only screen and (min-width: $brkpt-1000) {

	    width: 21.25%;
	    padding-bottom: 0;

	    &:nth-child(2n) {
	    	margin-right: 5%;
	    }

	    &:nth-child(4n) {
	    	margin-right: 0;
	    }	
	}
}