{{#articles}}
<div class="column-article" role="article">

	<h3><a href="{{url}}">{{title}}</a></h3>
	<div class="date-container">
		<p class="date">{{publishDate}}</p>
	</div>
	<p>{{{content}}}</p>

	<p class="more"><a href="{{url}}">Keep Reading <i class="fa fa-long-arrow-right"></i></a></p>
</div>
{{/articles}}